@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5327f0
}
.wrapper{
    width: 650px;
    background: #fff;
    border-radius: 15px;
    padding: 30px 30px 25px;
}

.wrapper header{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content{
    margin: 35px 0;
}

content .quote-area{
    display: flex;
    justify-content: center;
}

.quote-area i{
    font-size: 15px;
}

.quote-area:first-child {
    margin: 3px 10px 0 0;
}

.quote-area:last-child {
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 10px ;
}

.quote-area content .quote{
    font-size: 22px;
    text-align: center;
    word-break: break-all;
}

.content .author{
    display: flex;
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
    justify-content: flex-end;
}

.author span:first-child{
    margin:  -7px 5px 0 0;
    font-family:monospace ;
}

.wrapper .buttons{
    border-top: 1px solid #ccc;
}

.buttons .features {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.features ul{
    display: flex;
}

.features ul li{
    list-style: none;
    margin: 0 5px;
    height: 46px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #5327f0;
}